.sequenceWidgetContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  height: 100%; /* Fill parent height */
}

/* Sequence Widget */
.sequenceWidget {
  flex: 1; /* Take up remaining vertical space */
  display: flex;
  flex-direction: column;
  border: none; /* Remove border to ensure complete transparency */
  background-color: transparent; /* Fully transparent */
}

/* Labels */


.indicatorLabel,
.currentWordLabel,
.difficultyLabel {
  padding: 5px;
  border: none; /* Remove borders */
  background-color: transparent; /* Fully transparent */
}

/* Main Content Area */
.sequenceWidgetMain {
  display: flex;
  flex: 1; /* Allow to stretch vertically */
  background-color: transparent; /* Fully transparent */
}

.scrollArea {
  flex: 4;
  border: none; /* Remove borders */
  background-color: transparent; /* Fully transparent */
  padding: 10px;
  overflow-y: auto;
}

.buttonPanel {
  flex: 1;
  border: none; /* Remove borders */
  background-color: transparent; /* Fully transparent */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonPanel button {
  cursor: pointer;
  /* background-color: transparent; Fully transparent buttons */
  border: none; /* Remove button borders */
  color: inherit; /* Use inherited text color */
}


.sequenceWidgetContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sequenceWidget {
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease-in-out;
}

.sequenceWidgetLabels {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.sequenceWidgetMain {
  display: flex;
  flex-direction: row;
  flex: 1; /* Make the main area take up all available space */
}


.sequenceWidgetContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sequenceWidget {
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease-in-out;
}

.sequenceWidgetLabels {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.sequenceWidgetMain {
  display: flex;
  flex-direction: row;
  flex: 1; /* Make the main area take up all available space */
}

.scrollArea {
  flex: 9; /* Occupy more space than the button panel */
  overflow-y: auto;
}

.buttonPanel {
  flex: 1; /* Occupy less space than the scroll area */
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to new rows */
  justify-content: space-around; /* Evenly space buttons */
  align-items: center; /* Center vertically */
  border-left: 1px solid #ccc; /* Add a border to separate the button panel from the scroll area */
}
